body{
	margin:0;
	padding:0;
	background:url(MENA.jpg) no-repeat;
	background-size:cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.pfp{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
    text-align:justify;
  }
.button{
   text-align:left ;
   color:royalblue;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#lblGreetings{
  text-align: center;   
}