body{
    text-align: center;
    background-image: url(tenor.jpg);
    background-position:center contain;
}
h5{
    text-align: left;
}
.box{
    width:1230px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin:auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}